<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS.dao.StudyDAO">
	<select id="getKakaoAddressSearch" resultType="com.spring.javaProjectS.vo.KakaoAddressVO">
		select * from kakaoAddress where address=#{address};
	</select>
	<select id="getKaKaoAddressList" resultType="com.spring.javaProjectS.vo.KakaoAddressVO">
		select * from kakaoAddress order by address;
	</select>
	
	
	<insert id="setKakaoAddressInput">
		insert into kakaoAddress values(#{vo.address},#{vo.latitude},#{vo.longtitude});
	</insert>
	
	
	<delete id="setkakaoAddressDelete">
		delete from kakaoAddress where address=#{address};
	</delete>
</mapper>
